* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

.game-window {
  padding: 25px;
  position: absolute;
  width: 400px;
  height: 400px;
  left: 20px;
  top: 30px;
  background: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin: 0;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 25.6px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #2B283A;
}

.instructions {
  margin: 0;
  left: 0%;
  right: 0%;
  top: -28.7%;
  bottom: -24.36%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #4A4E74;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 25px;
}

.grid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 10px;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* margin-bottom: 10%; */
}

.dice {
  height: 50px;
  width: 50px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.roll-dice {
  width: 80px;
  height: 40px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 10%;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: white;
  border: none;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}